@import url("https://use.typekit.net/ghf7cex.css");
/* @import url("https://use.typekit.net/zmy0cob.css"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/* @import url("https://use.typekit.net/aby7dwr.css"); */
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #ababab;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: var(--text-dark);
}

.breadcrumb {
  margin-bottom: 50px;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--text-dark);
  display: inline-block;
  position: relative;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-dark);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.breadcrumb a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.breadcrumb {
  padding-top: 150px;
}

.body {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.main-title {
  font-family: "DM Serif Display", serif;
  width: 100%;
  font-size: 4rem;
  font-weight: 400;
  text-align: left;
  margin-bottom: 30px;
}

.music-div {
  background-color: #f5efff;
  padding: 30px 35px 30px 35px;
  border-radius: 8px;
  margin-bottom: 36px;
}

.block {
  margin-top: 100px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.sub-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 8px;
}

.desc {
  margin-top: 24px;
  opacity: 0.5;
}
