@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;
  --pink: #fc466d;
  --yellow: #ffd82b;
  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #8a8a8a;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

footer {
  background-color: #222222;
  height: 375px;
  width: 95%;
  max-width: 1100px;
  margin: auto;
  margin-top: 200px;
  border-radius: 24px 24px 0px 0px;
  padding: 32px;
  font-size: 1.1rem;
}

footer a {
  text-decoration: none;
  color: var(--theme-light);
  transition: all 0.25s ease-out;
}

footer li {
  list-style-type: none;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-head {
  color: #707070;
  font-weight: 500;
  margin-bottom: 8px;
}

ul {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
}

footer a:hover {
  background: linear-gradient(to right, rgb(198, 214, 255), rgb(169, 178, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#menu {
  margin-top: 32px;
}

.email-text {
  width: 225px;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#fixed {
  width: 225px;
}

@media only screen and (max-width: 800px) {
  ul {
    width: 320px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 16px;
  }

  footer {
    height: 600px;
    padding: 24px;
  }

  .row {
    flex-direction: column;
  }

  .email-text {
    margin-top: 32px;
  }

  #fixed {
    margin-top: 24px;
  }
}
