@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #ababab;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: var(--text-dark);
  /* background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d5dbe4' fill-opacity='0.31'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

#bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  /* background-image: url("../assets/bg.svg");
  opacity: 0.7; */
}
#home {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: -50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#main-hero {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}

#h1 {
  display: none;
  height: 325px;
  width: auto;
  margin: auto;
}

#h2 {
  display: none;
  height: 325px;
  width: auto;
  margin: auto;
  margin-left: -60px;
}

.sub-title {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: var(--text-med);
}

.work-button {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3 ease-in;
}

.work-button i {
  font-size: 2.25rem;
  padding: 8px;
  transition: all 0.3s ease-in;
}

.work-button p {
  transition: all 0.05s ease-in;
}

.work-button {
  font-family: "Bad Script", cursive;
  font-size: 1.45rem;
  opacity: 0.35;
}

#written {
  font-family: "Bad Script", cursive;
  color: var(--blue);
  margin-left: 6px;
  margin-right: 6px;
}

#work {
  padding-top: 100px;
  width: 100%;
}

#work-extra {
  padding-top: 200px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.sec-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-light);
  padding-left: 12px;
}

.project-card {
  width: 90%;
  max-width: 1100px;
  height: 70%;
  min-height: 500px;
  max-height: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 24px;
  position: relative;
  margin-top: 200px;
  /* box-shadow: -1px 11px 40px 0px rgba(194, 194, 194, 1); */
}

.project-card-small {
  width: 90%;
  max-width: 525px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 24px;
  position: relative;
}

.hero-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.hero-img-small {
  width: 100%;
}

.hero-img-small img {
  width: 100%;
}

#rovers-card {
  height: 700px;
}

#oh-bg {
  background-color: #ededed;
}

#rovers-bg {
  background-color: #0f0f0f;
}

#upstox-gif {
  width: 100%;
  height: auto;
}

#openhouse-img {
  width: 100%;
  transform: rotate(-12deg);
}

.project-about {
  background-color: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 24px 24px;
}

.project-about-small {
  background-color: rgb(0, 0, 0, 0.4);
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 24px 24px;
}

.project-about-oh {
  background-color: #ef5c34;
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 24px 24px;
}

.project-about-rovers {
  background-color: #606060;
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border-radius: 0px 0px 24px 24px;
}

.project-details {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-logo {
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-logo img {
  width: 48px;
  height: 48px;
}

.project-text {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin-left: 12px;
}

.project-subtitle {
  opacity: 0.6;
}

.go-to i {
  font-size: 60px;
  color: #ffffff;
  opacity: 0.5;
}

.ticker {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.hero-img-small img {
  border-radius: 24px 24px 0px 0px;
}

.ticker-list {
  display: flex;
  margin-top: 64px;
  animation: ticker 30s linear infinite;
}

.ticker-item {
  margin-right: 32px;
}

.ticker-item img {
  height: 300px;
}

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.project-row {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

@media only screen and (max-width: 550px) {
  .title {
    margin-top: -12px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #main-hero {
    display: none;
    width: 90%;
    margin: auto;
    max-width: 1000px;
  }

  #h1 {
    display: block;
    height: 180px;
    width: auto;
    margin-left: -5px;
  }

  #h2 {
    display: block;
    height: 180px;
    width: auto;
    margin-left: -5px;
    margin-top: -40px;
  }

  .sub-title {
    font-size: 1rem;
  }

  #home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
  }

  .project-subtitle {
    visibility: hidden;
  }

  .project-text {
    display: flex;
    align-items: center;
  }

  .project-logo {
    height: 50px;
    width: 100px;
  }

  .project-details {
    width: 200px;
  }

  #openhouse-right {
    margin-left: -16px;
  }

  .project-about {
    padding: 16px;
  }

  .project-about-oh {
    padding: 16px;
  }

  .project-about-rovers {
    padding: 16px;
  }

  .project-about-small {
    padding: 16px;
  }

  #openhouse-img {
    height: 100%;
    width: 225%;
    transform: rotate(-0.1deg);
  }

  #work-extra {
    padding-top: 200px;
    width: 90%;
    margin: auto;
  }

  .hero-img-small {
    height: fill;
    width: fill;
  }

  .project-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin: auto;
  }

  .project-card-small {
    width: 100%;
    max-width: 525px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 24px;
    position: relative;
  }

  .sub-title {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 551px) and (max-width: 728px) {
  .title {
    margin-top: -50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #h1 {
    height: 200px;
    width: auto;
    margin: auto;
  }

  #h2 {
    height: 200px;
    width: auto;
    margin: auto;
    margin-left: -40px;
  }
  .project-subtitle {
    visibility: hidden;
  }

  .project-text {
    display: flex;
    align-items: center;
  }

  .project-logo {
    height: 50px;
    width: 100px;
  }

  .project-details {
    width: 200px;
  }

  #openhouse-right {
    margin-left: -16px;
  }

  .project-about {
    padding: 16px;
  }

  .project-about-oh {
    padding: 16px;
  }

  .project-about-rovers {
    padding: 16px;
  }

  .project-about-small {
    padding: 16px;
  }

  #openhouse-img {
    height: 100%;
    width: 225%;
    transform: rotate(-0.1deg);
  }

  #work-extra {
    padding-top: 200px;
    width: 90%;
    margin: auto;
  }

  .hero-img-small {
    height: fill;
    width: fill;
  }

  .project-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    margin: auto;
  }

  .project-card-small {
    width: 100%;
    max-width: 525px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 24px;
    position: relative;
  }

  .sub-title {
    font-size: 1rem;
  }
}
