@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam&family=Space+Mono:wght@400;700&display=swap");
@import url("https://use.typekit.net/zmy0cob.css");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #ababab;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: var(--text-dark);
}

.title {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding-top: 250px;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}

.h12 {
  display: block;
  line-height: 1.2;
}

.scroller {
  margin-left: 10px;
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 400px;
  font-weight: 600;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 17s infinite;
}

#written {
  font-family: "Kalam", cursive;
  color: var(--text);
}

.video {
  width: 100%;
  max-width: 1200px;
  height: 677px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
}

.video iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid #eeeeee;
}

@keyframes slide {
  0% {
    top: 0;
  }
  8.3% {
    top: -1.2em;
  }
  16.6% {
    top: -2.4em;
  }
  24.9% {
    top: -3.6em;
  }
  35.2% {
    top: -4.8em;
  }
  41.5% {
    top: -6em;
  }
  49.9% {
    top: -7.2em;
  }
  58.2% {
    top: -8.4em;
  }
  66.5% {
    top: -9.6em;
  }
  74.8% {
    top: -10.8em;
  }
  83.2% {
    top: -12em;
  }
  91.5% {
    top: -13.2em;
  }
}

.mono-title {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  width: 90%;
  margin: auto;
  margin-top: 150px;
  max-width: 1000px;
  font-size: 1.25rem;
}

.project-cat {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  width: 90%;
  margin: auto;
  margin-bottom: 24px;
  max-width: 1000px;
  color: var(--text);
  font-size: 1rem;
}

.project-main {
  margin-top: 150px;
}

.hover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease-in;
}

.hover-text {
  font-size: 2rem;
  color: var(--theme-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-text i {
  margin-left: 8px;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 1100px;
  height: 550px;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

#oh {
  background-image: url(../assets/oh.png);
  background-size: 100% auto;
  border-radius: 8px;
  transition: all 0.3s ease-in;
  background-position: center;
}

#oh:hover {
  background-size: 110% auto;
  background-position: center;
}

#upstox-gif {
  width: 100%;
  height: auto;
}

.project-text {
  max-width: 87%;
  margin: auto;
  margin-top: 32px;
  max-width: 1000px;
  font-size: 2rem;
  font-weight: 600;
  color: var(--text);
}

.project-title {
  color: var(--text-dark);
  margin-right: 4px;
}

.media img {
  transition: all 0.3s ease-in;
}

#oh {
  width: 100%;
}

.media:hover img {
  scale: 1.12;
}

.media:hover {
  scale: 0.97;
}

.media:hover .hover {
  display: flex;
}

.rovers-media:hover .hover {
  display: flex;
}

.side-media:hover .hover {
  display: flex;
}

.rovers-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  max-width: 1100px;
  height: 550px;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease-in;
  background-color: var(--dark-bg);
}

.rovers-media:hover {
  scale: 0.97;
}

.ticker {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.ticker-list {
  display: flex;
  animation: ticker 30s linear infinite;
}

.ticker-item {
  margin-right: 32px;
}

.ticker-item img {
  height: 300px;
}

.side-projects {
  width: 90%;
  margin: auto;
  max-width: 1000px;
  margin-top: 150px;
}

.side-project-text {
  width: 96%;
  margin: auto;
  margin-top: 20px;
  max-width: 410px;
  font-size: 1.55rem;
  font-weight: 600;
  color: var(--text);
}

.project-title {
  color: var(--text-dark);
  margin-right: 4px;
}

.side-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 100px;
}

.side-project-cat {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  width: 96%;
  margin: auto;
  margin-bottom: 20px;
  max-width: 410px;
  color: var(--text);
  font-size: 0.9rem;
}

.side-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  max-width: 425px;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}

.side-media img {
  width: 100%;
  max-width: 425px;
}

#artigans {
  margin-top: 50px;
}

.side-media img {
  transition: all 0.3s ease-in;
}

.side-media:hover img {
  scale: 1.12;
}

.side-media:hover {
  scale: 0.97;
}

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#fun {
  margin-top: 300px;
  background-color: rgb(49, 49, 53);
  height: 500px;
  width: 100%;
  margin-bottom: -200px;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  .scroller {
    margin-left: 0.1px;
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width: 300px;
    font-weight: 600;
  }

  .project-cat {
    width: 87%;
  }

  .media {
    height: 500px;
  }

  .project-text {
    width: 87%;
    margin: auto;
    margin-top: 24px;
    max-width: 1000px;
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--text);
  }

  .side-row {
    flex-direction: column;
    margin-top: 0.1px;
  }

  .side-project {
    margin-top: 100px;
  }

  #artigans {
    margin-top: 125px;
  }

  #oh {
    width: 90%;
    background-image: url(../assets/oh.png);
    background-size: auto 100%;
    border-radius: 8px;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in;
    background-position: center;
  }

  #oh:hover {
    background-size: 110% auto;
    background-position: center;
  }
}
