@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;
  --pink: #fc466d;
  --yellow: #ffd82b;
  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #8a8a8a;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

nav {
  font-family: "Inter Tight", sans-serif;
  width: 100%;
  height: 4.25rem;
  position: fixed;
  margin: auto;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fit-nav {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  padding: 0px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 245, 245, 0.8);
  border-radius: 0px 0px 24px 24px;
  border: 1px solid #f5f5f5;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -4px;
}

.nav-links {
  width: auto;
  display: flex;
  flex-direction: row;
}

.nav-links a {
  margin-left: 8px;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text-dark);
  padding: 8px 16px;
  background-color: #ffffff;
  border-radius: 12px;
  transition: all 0.25s ease-out;
}

.nav-links a:hover {
  background-image: linear-gradient(
    to right,
    rgb(225, 238, 255),
    rgb(219, 227, 255)
  );
  font-weight: 500;
}

#light {
  font-weight: 700;
  color: var(--text-light);
  font-size: 1.5rem;
  letter-spacing: -0.5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 800px) {
  nav {
    height: 4.5rem;
  }

  .fit-nav {
    width: 90%;
    padding: 0px 16px;
  }

  .logo {
    font-size: 1.1rem;
  }

  .work-tab {
    visibility: hidden;
  }

  .nav-links a {
    margin-left: 12px;
  }
}
