@import url("https://use.typekit.net/ghf7cex.css");
/* @import url("https://use.typekit.net/zmy0cob.css"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
/* @import url("https://use.typekit.net/aby7dwr.css"); */
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&family=Rubik:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #ababab;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: var(--text-dark);
}

#open-landing {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#open-landing svg {
  position: absolute;
  width: 100%;
  max-width: 1100px;
  z-index: -10;
  margin: auto;
  margin-top: 400px;
}

#top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.openhouse-logo {
  padding-top: 25px;
  margin: auto;
}

.breadcrumb {
  font-family: "Nunito", sans-serif;
  padding-top: 150px;
  margin: auto;
  text-align: center;
  color: var(--text-vlight);
}

.breadcrumb a {
  text-decoration: none;
  color: var(--text-vlight);
  display: inline-block;
  position: relative;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--text-vlight);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.breadcrumb a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#main-body {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 200px;
}

.h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
}

.text {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  color: var(--text-med);
  line-height: 24px;
  margin-top: 12px;
}

.divider {
  width: 100%;
  max-width: 800px;
  background-color: #ebebeb;
  height: 2px;
  margin: auto;
  margin-top: 50px;
}

.moments-logo {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview {
  background-color: #efefef;
  padding: 30px 25px 30px 25px;
  border-radius: 8px;
}

.moments-video {
  background-color: #000000;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

@media only screen and (max-width: 800px) {
  #open-landing svg {
    position: absolute;
    width: 1200px;
    overflow: hidden;
    z-index: -10;
    margin: auto;
    margin-top: 350px;
  }

  .openhouse-logo svg {
    width: 300px;
    max-width: 300px;
    z-index: 10;
    margin: auto;
    margin-top: -16px;
  }

  #main-body {
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-top: 150px;
  }
}
