@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #ababab;
  --text-dark: #1d1e26;
  --text-med: #636363;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --upstox: #551e90;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

.bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dfy6gfncm/image/upload/v1678055772/oh-bg_pue6ly.png");
  background-size: 100% auto;
}

.up-home {
  padding-top: 200px;
}

.main-tile {
  margin: auto;
  width: 90%;
  max-width: 1100px;
  background-color: var(--openhouse);
  padding: 48px;
  border-radius: 24px;
}

.header-tile {
  font-size: 3rem;
  font-weight: 700;
  color: var(--theme-light);
}

.details {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.c1 {
  width: 110px;
  font-weight: 500;
  color: rgb(255, 255, 255, 0.7);
}

.c-item {
  margin-top: 8px;
  line-height: 24px;
}

.c2 {
  font-weight: 600;
  color: rgb(255, 255, 255, 0.9);
}

.company-about {
  padding-top: 32px;
  width: 90%;
  margin: auto;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 32px;
}

.company-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 534px;
  height: 500px;
  background-color: #efefef;
  border-radius: 24px;
}

.company-logo svg {
  height: 24px;
}

.company-image img {
  height: 450px;
  width: auto;
  border-radius: 16px;
}

.company-text {
  width: 100%;
  max-width: 534px;
  height: 500px;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 2px solid #eaeaea;
}

.company-text p {
  margin-top: 24px;
  line-height: 26px;
  color: var(--text);
  font-weight: 500;
  font-size: 1.1rem;
}

.company-text a {
  text-decoration: none;
  color: var(--text-med);
  font-weight: 600;
}

.nav-row {
  width: 90%;
  margin: auto;
  max-width: 1100px;
}

.back-to-home {
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffe8e2;
  width: 320px;
  color: var(--openhouse);
  border-radius: 24px;
}

.back-to-home i {
  font-size: 2rem;
  transition: all 0.25s ease-out;
}

.back-to-home p {
  font-size: 2rem;
  padding-left: 8px;
  font-weight: 400;
}

.title-row {
  width: 90%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  height: 200px;
  margin: auto;
  padding: 48px;
  background-image: url("https://res.cloudinary.com/dfy6gfncm/image/upload/v1678055787/oh_bg_arqktw.png");
  background-size: 100% auto;
  border-radius: 24px;
  margin-bottom: 32px;
}

.title-row p {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
}

.video-section {
  background-color: #f5f5f5;
  border-radius: 16px;
  padding: 24px;
}

.moments-about {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 2px solid #eaeaea;
  margin-bottom: 32px;
}

.more {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: 32px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 2px solid #eaeaea;
  margin-bottom: 32px;
}

.more-title {
  font-size: 3rem;
  font-weight: 600;
}

.more-subtitle {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 16px;
  color: var(--text-med);
}

.more-subtitle-written {
  margin-top: 32px;
  font-family: "Bad Script", cursive;
  font-size: 1.25rem;
  margin-top: 16px;
  color: var(--text-med);
}

.moments-about p {
  margin-bottom: 32px;
  line-height: 26px;
  font-weight: 500;
  color: var(--text);
  font-size: 1.1rem;
}

#highlight {
  color: var(--openhouse);
}

.about-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.case-study {
  width: 50%;
  margin-left: 50%;
  background-color: #f3c520;
  padding: 32px;
  border-radius: 24px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 32px;
  color: #ffffff;
}

.ticker {
  height: 450px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  border-radius: 24px;
}

.ticker-list {
  display: flex;
  margin-top: 64px;
  animation: ticker 50s linear infinite;
}

.ticker-item {
  margin-right: 32px;
}

.ticker-item img {
  height: 400px;
  box-shadow: 20px 20px 60px #ebebeb, -20px -20px 60px #ffffff;
  border-radius: 24px;
}

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.case-study i {
  margin-left: 8px;
  transition: all 0.25s ease-out;
}

.case-study:hover i {
  margin-right: -12px;
}

.back-to-home:hover i {
  margin-left: -12px;
}

@media only screen and (max-width: 800px) {
  .bg {
    background-image: url("https://res.cloudinary.com/dfy6gfncm/image/upload/v1678055772/oh-bg_pue6ly.png");
    background-size: auto 100%;
  }
  .up-home {
    padding-top: 100px;
  }
  .main-tile {
    padding: 32px 20px;
  }

  .c1 {
    width: 80px;
  }

  .header-tile {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--theme-light);
  }

  .details {
    letter-spacing: 0.25px;
    font-size: 0.8rem;
  }

  .company-text {
    height: auto;
    padding: 32px 20px;
    margin-top: 32px;
  }

  .company-about {
    flex-direction: column;
  }

  .company-text p {
    margin-top: 16px;
    line-height: 25px;
    color: var(--text);
    font-weight: 400;
    font-size: 1rem;
  }

  .moments-about {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 32px 20px;
    background-color: #ffffff;
    border-radius: 24px;
    border: 2px solid #eaeaea;
    margin-bottom: 32px;
  }

  .more {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 32px 20px;
    background-color: #ffffff;
    border-radius: 24px;
    border: 2px solid #eaeaea;
    margin-bottom: 32px;
  }

  .more-title {
    font-size: 3rem;
    font-weight: 600;
  }

  .more-subtitle {
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 16px;
    color: var(--text-med);
  }

  .more-subtitle-written {
    margin-top: 32px;
    font-family: "Bad Script", cursive;
    font-size: 1.25rem;
    margin-top: 16px;
    color: var(--text-med);
  }

  .case-study {
    width: 100%;
    margin-left: auto;
    background-color: #f3c520;
    padding: 32px;
    border-radius: 24px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 32px;
    color: #ffffff;
  }
}
