@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam&family=Space+Mono:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #ababab;
  --text-dark: #1d1e26;
  --text-med: #9f9f9f;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: var(--text-dark);
}

.text-contain {
  width: 90%;
  margin: auto;
  max-width: 800px;
}

.back {
  padding-top: 150px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--text-med);
  transition: all 0.25s ease-out;
}

.back p {
  margin-left: 8px;
  font-size: 1.1rem;
}

.back:hover {
  margin-left: -12px;
}

.title {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: 600;
}

.subtitle {
  font-size: 2.5rem;
  margin-top: 12px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 72px;
}

.other-details {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--text);
}

#dark {
  color: var(--text-dark);
  opacity: 0.7;
}

.proj-hero {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  margin-top: 84px;
  padding: 48px;
  background-color: #e7def1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 36px;
}

.text-header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 72px;
}

#reg-text {
  margin-top: 12px;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  color: var(--text);
}

#reg-text-2 {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  color: var(--text);
}

#reg-text-2 strong {
  font-weight: 600;
  color: var(--text-dark);
  opacity: 0.7;
}

#bold-p {
  font-weight: 500;
  color: var(--text-dark);
  opacity: 0.7;
}

.text-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 72px;
}

#point {
  margin-top: 20px;
}

.img-desc {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 24px;
  color: var(--text);
}

#path {
  width: 90%;
  margin: auto;
  margin-top: 36px;
}

.work-nda {
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #272727;
  color: var(--theme-light);
  margin-top: 60px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(163, 163, 163, 1);
  -moz-box-shadow: 0px 4px 15px 0px rgba(163, 163, 163, 1);
  box-shadow: 0px 4px 15px 0px rgba(163, 163, 163, 1);
}

.work-nda:hover i {
  animation: shake 0.82s var(--easing-slick);
  transform: translate3d(0, 0, 0);
}

.work-nda i {
  font-size: 2rem;
  margin-bottom: 12px;
}

.work-nda p {
  text-align: center;
  letter-spacing: 0.3px;
  opacity: 0.6;
  font-size: 1.2rem;
  line-height: 1.5;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.proj-up-rows {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  margin-top: 32px;
}

.proj-block {
  border: 1.5px solid #eeeeee;
  width: 240px;
  padding: 20px 16px;
  border-radius: 8px;
  line-height: 1.5;
  font-weight: 400;
  height: 160px;
  font-size: 1.05rem;
  color: var(--text-med);
}

.proj-nav {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 800px;
  margin: auto;
  justify-content: space-between;
  margin-top: 120px;
}

.home-button {
  padding: 32px;
  border: 1.5px solid #dcdcdc;
  font-size: 1.5rem;
  width: 40%;
  max-width: 200px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.25s ease-out;
}

.home-button i {
  margin-right: 8px;
  transition: all 0.25s ease-out;
}

.home-button:hover i {
  margin-left: -8px;
}

.back-button {
  padding: 32px;
  background-color: #eeeeee;
  border: 1.5px solid #eeeeee;
  font-size: 1.5rem;
  width: 40%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
  transition: all 0.25s ease-out;
}

.back-button i {
  margin-left: 8px;
  transition: all 0.25s ease-out;
}

.back-button:hover i {
  margin-right: -8px;
}

@media only screen and (max-width: 800px) {
  .proj-up-rows {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 24px;
    row-gap: 24px;
  }

  .proj-block {
    background-color: #eeebe6;
    width: 100%;
    padding: 20px 16px;
    border-radius: 12px;
    line-height: 24px;
    font-weight: 500;
    height: auto;
    font-size: 1.05rem;
    color: #3c3c3c;
  }
}
