@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam&family=Space+Mono:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=DM+Serif+Display&family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0px;
}

:root {
  --theme-light: #fdfdfd;
  --theme-blue: #e0e7f1;

  --blue: #3b8eef;

  --pink: #fc466d;
  --pink-2: #ff7676;
  --pink-light: #ffd6d6;

  --yellow: #ffd82b;
  --yellow-2: #ffd976;
  --yellow-light: #fff3d6;

  --green: #64ffa2;

  --dark-bg: rgb(22, 22, 22);
  --light-bg: #ffffff;
  --grey-bg: #f4f4f5;

  --text: #ababab;
  --text-dark: #1d1e26;
  --text-med: #9f9f9f;

  --text-light: #a9aaac;
  --text-vlight: #fffffb;

  --upstox: #551e90;
  --openhouse: #ef5c34;

  --easing: cubic-bezier(0.68, 0.28, 0.82, 0.64);
  --easing-slick: cubic-bezier(0.02, 0.98, 0.65, 1.15);
}

body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  color: var(--text-dark);
}

.text-contain {
  width: 90%;
  margin: auto;
  max-width: 800px;
}

.back {
  padding-top: 150px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: var(--text-med);
  transition: all 0.25s ease-out;
}

.back p {
  margin-left: 8px;
  font-size: 1.1rem;
}

.back:hover {
  margin-left: -12px;
}

.title {
  margin-top: 50px;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 72px;
}

.subtitle {
  font-size: 2.5rem;
  margin-top: 12px;
  font-weight: 600;
  color: var(--text);
}

.other-details {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--text);
}

#dark {
  color: var(--text-dark);
  opacity: 0.7;
}

.proj-hero {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  margin-top: 84px;
  padding: 48px;
  padding-bottom: 0px;
  background-color: #d4e8ff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 36px;
}

.proj-hero img {
  width: 90%;
  max-width: 500px;
  border-radius: 12px 12px 0px 0px;
}

.text-header {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 72px;
}

#reg-text {
  margin-top: 12px;
  line-height: 1.5;
  font-size: 1.1rem;

  color: var(--text);
}

#bold-p {
  font-weight: 500;
  color: var(--text-dark);
  opacity: 0.7;
}

.text-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 72px;
}

#point {
  margin-top: 20px;
}

.fit {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.pictures {
  width: 90%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 72px;
  margin-bottom: 72px;
}

.pictures img {
  width: 100%;
  max-width: 525px;
  border-radius: 8px;
}

.picture-big {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.picture-big img {
  width: 100%;
}

#reg-text a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
}
